body {
  @apply overscroll-none bg-transparent;
}

:root {
  --font-sans: var(--font-inter);
  --header-height: calc(var(--spacing) * 12 + 1px);
}

.theme-scaled {
  @media (min-width: 1024px) {
    --radius: 0.6rem;
    --text-lg: 1.05rem;
    --text-base: 0.85rem;
    --text-sm: 0.8rem;
    --spacing: 0.222222rem;
  }

  [data-slot="card"] {
    --spacing: 0.16rem;
  }

  [data-slot="select-trigger"],
  [data-slot="toggle-group-item"] {
    --spacing: 0.222222rem;
  }
}

.theme-default,
.theme-default-scaled {
  --background: oklch(1 0.0001 274);
  --foreground: oklch(0.1445 0 274);
  --muted: oklch(0.9703 0.0001 274);
  --muted-foreground: oklch(0.5555 0.0001 274);
  --popover: oklch(1 0.0001 274);
  --popover-foreground: oklch(0.1445 0 274);
  --card: oklch(1 0.0001 274);
  --card-foreground: oklch(0.1445 0 274);
  --border: oklch(0.9219 0.0001 274);
  --input: oklch(0.9219 0.0001 274);
  --primary: oklch(0.2044 0 274);
  --primary-foreground: oklch(0.9848 0.0001 274);
  --secondary: oklch(0.9703 0.0001 274);
  --secondary-foreground: oklch(0.2044 0 274);
  --accent: oklch(0.9703 0.0001 274);
  --accent-foreground: oklch(0.2044 0 274);
  --destructive: oklch(0.6368 0.2078 25.3);
  --destructive-foreground: oklch(0.9848 0.0001 274);
  --ring: oklch(0.1445 0 274);
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.dark .theme-default,
.dark .theme-default-scaled {
  --background: oklch(0.1445 0 274);
  --foreground: oklch(0.9848 0.0001 274);
  --muted: oklch(0.2686 0 274);
  --muted-foreground: oklch(0.7153 0.0001 274);
  --popover: oklch(0.1445 0 274);
  --popover-foreground: oklch(0.9848 0.0001 274);
  --card: oklch(0.1445 0 274);
  --card-foreground: oklch(0.9848 0.0001 274);
  --border: oklch(0.2686 0 274);
  --input: oklch(0.2686 0 274);
  --primary: oklch(0.9848 0.0001 274);
  --primary-foreground: oklch(0.2044 0 274);
  --secondary: oklch(0.2686 0 274);
  --secondary-foreground: oklch(0.9848 0.0001 274);
  --accent: oklch(0.2686 0 274);
  --accent-foreground: oklch(0.9848 0.0001 274);
  --destructive: oklch(0.3959 0.1331 25.7);
  --destructive-foreground: oklch(0.9848 0.0001 274);
  --ring: oklch(0.8696 0.0001 274);
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.theme-red,
.theme-red-scaled {
  --background: oklch(1 0.0001 274);
  --foreground: oklch(0.1445 0 274);
  --muted: oklch(0.9703 0.0001 274);
  --muted-foreground: oklch(0.5555 0.0001 274);
  --popover: oklch(1 0.0001 274);
  --popover-foreground: oklch(0.1445 0 274);
  --card: oklch(1 0.0001 274);
  --card-foreground: oklch(0.1445 0 274);
  --border: oklch(0.9219 0.0001 274);
  --input: oklch(0.9219 0.0001 274);
  --primary: oklch(0.5771 0.2151 27.3);
  --primary-foreground: oklch(0.971 0.0127 16.9);
  --secondary: oklch(0.9703 0.0001 274);
  --secondary-foreground: oklch(0.2044 0 274);
  --accent: oklch(0.9703 0.0001 274);
  --accent-foreground: oklch(0.2044 0 274);
  --destructive: oklch(0.6368 0.2078 25.3);
  --destructive-foreground: oklch(0.9848 0.0001 274);
  --ring: oklch(0.5771 0.2151 27.3);
  --radius: 0.4rem;
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.dark .theme-red,
.dark .theme-red-scaled {
  --background: oklch(0.1445 0 274);
  --foreground: oklch(0.9848 0.0001 274);
  --muted: oklch(0.2686 0 274);
  --muted-foreground: oklch(0.7153 0.0001 274);
  --popover: oklch(0.1445 0 274);
  --popover-foreground: oklch(0.9848 0.0001 274);
  --card: oklch(0.1445 0 274);
  --card-foreground: oklch(0.9848 0.0001 274);
  --border: oklch(0.2686 0 274);
  --input: oklch(0.2686 0 274);
  --primary: oklch(0.5771 0.2151 27.3);
  --primary-foreground: oklch(0.971 0.0127 16.9);
  --secondary: oklch(0.2686 0 274);
  --secondary-foreground: oklch(0.9848 0.0001 274);
  --accent: oklch(0.2686 0 274);
  --accent-foreground: oklch(0.9848 0.0001 274);
  --destructive: oklch(0.3959 0.1331 25.7);
  --destructive-foreground: oklch(0.971 0.0127 16.9);
  --ring: oklch(0.5771 0.2151 27.3);
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.theme-rose,
.theme-rose-scaled {
  --background: oklch(1 0.0001 274);
  --foreground: oklch(0.1405 0.0044 285.8);
  --muted: oklch(0.9676 0.0014 285.4);
  --muted-foreground: oklch(0.5519 0.0138 285.9);
  --popover: oklch(1 0.0001 274);
  --popover-foreground: oklch(0.1405 0.0044 285.8);
  --card: oklch(1 0.0001 274);
  --card-foreground: oklch(0.1405 0.0044 285.8);
  --border: oklch(0.9197 0.0042 286);
  --input: oklch(0.9197 0.0042 286);
  --primary: oklch(0.5858 0.2221 17.5);
  --primary-foreground: oklch(0.9699 0.0149 12);
  --secondary: oklch(0.9676 0.0014 285.4);
  --secondary-foreground: oklch(0.2103 0.0059 285.8);
  --accent: oklch(0.9676 0.0014 285.4);
  --accent-foreground: oklch(0.2103 0.0059 285.8);
  --destructive: oklch(0.6368 0.2078 25.3);
  --destructive-foreground: oklch(0.9848 0.0001 274);
  --ring: oklch(0.5858 0.2221 17.5);
  --radius: 0.5rem;
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.dark .theme-rose,
.dark .theme-rose-scaled {
  --background: oklch(0.1467 0.0041 49.1);
  --foreground: oklch(0.9619 0.0001 274);
  --muted: oklch(0.2696 0 274);
  --muted-foreground: oklch(0.7119 0.0129 286);
  --popover: oklch(0.2044 0 274);
  --popover-foreground: oklch(0.9619 0.0001 274);
  --card: oklch(0.2161 0.0061 55.9);
  --card-foreground: oklch(0.9619 0.0001 274);
  --border: oklch(0.2741 0.0055 286);
  --input: oklch(0.2741 0.0055 286);
  --primary: oklch(0.5858 0.2221 17.5);
  --primary-foreground: oklch(0.9699 0.0149 12);
  --secondary: oklch(0.2741 0.0055 286);
  --secondary-foreground: oklch(0.9848 0.0001 274);
  --accent: oklch(0.2685 0.0063 34);
  --accent-foreground: oklch(0.9848 0.0001 274);
  --destructive: oklch(0.3959 0.1331 25.7);
  --destructive-foreground: oklch(0.9699 0.0149 12);
  --ring: oklch(0.5858 0.2221 17.5);
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.theme-orange,
.theme-orange-scaled {
  --background: oklch(1 0.0001 274);
  --foreground: oklch(0.1467 0.0041 49.1);
  --muted: oklch(0.97 0.0012 107.6);
  --muted-foreground: oklch(0.5534 0.0116 57.9);
  --popover: oklch(1 0.0001 274);
  --popover-foreground: oklch(0.1467 0.0041 49.1);
  --card: oklch(1 0.0001 274);
  --card-foreground: oklch(0.1467 0.0041 49.1);
  --border: oklch(0.9232 0.0025 46.9);
  --input: oklch(0.9232 0.0025 46.9);
  --primary: oklch(0.7048 0.1868 47.6);
  --primary-foreground: oklch(0.9845 0.0012 107.6);
  --secondary: oklch(0.97 0.0012 107.6);
  --secondary-foreground: oklch(0.2161 0.0061 55.9);
  --accent: oklch(0.97 0.0012 107.6);
  --accent-foreground: oklch(0.2161 0.0061 55.9);
  --destructive: oklch(0.6368 0.2078 25.3);
  --destructive-foreground: oklch(0.9845 0.0012 107.6);
  --ring: oklch(0.7048 0.1868 47.6);
  --radius: 0.95rem;
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.dark .theme-orange,
.dark .theme-orange-scaled {
  --background: oklch(0.1467 0.0041 49.1);
  --foreground: oklch(0.9845 0.0012 107.6);
  --muted: oklch(0.2685 0.0063 34);
  --muted-foreground: oklch(0.7159 0.0089 55.9);
  --popover: oklch(0.1467 0.0041 49.1);
  --popover-foreground: oklch(0.9845 0.0012 107.6);
  --card: oklch(0.1467 0.0041 49.1);
  --card-foreground: oklch(0.9845 0.0012 107.6);
  --border: oklch(0.2685 0.0063 34);
  --input: oklch(0.2685 0.0063 34);
  --primary: oklch(0.6454 0.1942 41.1);
  --primary-foreground: oklch(0.9845 0.0012 107.6);
  --secondary: oklch(0.2685 0.0063 34);
  --secondary-foreground: oklch(0.9845 0.0012 107.6);
  --accent: oklch(0.2685 0.0063 34);
  --accent-foreground: oklch(0.9845 0.0012 107.6);
  --destructive: oklch(0.3959 0.1331 25.7);
  --destructive-foreground: oklch(0.9845 0.0012 107.6);
  --ring: oklch(0.6454 0.1942 41.1);
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.theme-amber,
.theme-amber-scaled {
  --background: oklch(1 0.0001 274);
  --foreground: oklch(0.1467 0.0041 49.1);
  --muted: oklch(0.97 0.0012 107.6);
  --muted-foreground: oklch(0.5534 0.0116 57.9);
  --popover: oklch(1 0.0001 274);
  --popover-foreground: oklch(0.1467 0.0041 49.1);
  --card: oklch(1 0.0001 274);
  --card-foreground: oklch(0.1467 0.0041 49.1);
  --border: oklch(0.9232 0.0025 46.9);
  --input: oklch(0.9232 0.0025 46.9);
  --primary: oklch(0.7094 0.1578 64.5);
  --primary-foreground: oklch(0.9845 0.0012 107.6);
  --secondary: oklch(0.97 0.0012 107.6);
  --secondary-foreground: oklch(0.2161 0.0061 55.9);
  --accent: oklch(0.97 0.0012 107.6);
  --accent-foreground: oklch(0.2161 0.0061 55.9);
  --destructive: oklch(0.6368 0.2078 25.3);
  --destructive-foreground: oklch(0.9845 0.0012 107.6);
  --ring: oklch(0.7094 0.1578 64.5);
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.dark .theme-amber,
.dark .theme-amber-scaled {
  --background: oklch(0.1467 0.0041 49.1);
  --foreground: oklch(0.9845 0.0012 107.6);
  --muted: oklch(0.2685 0.0063 34);
  --muted-foreground: oklch(0.7159 0.0089 55.9);
  --popover: oklch(0.1467 0.0041 49.1);
  --popover-foreground: oklch(0.9845 0.0012 107.6);
  --card: oklch(0.1467 0.0041 49.1);
  --card-foreground: oklch(0.9845 0.0012 107.6);
  --border: oklch(0.2685 0.0063 34);
  --input: oklch(0.2685 0.0063 34);
  --primary: oklch(0.7889 0.1592 74.1);
  --primary-foreground: oklch(0.9845 0.0012 107.6);
  --secondary: oklch(0.2685 0.0063 34);
  --secondary-foreground: oklch(0.9845 0.0012 107.6);
  --accent: oklch(0.2685 0.0063 34);
  --accent-foreground: oklch(0.9845 0.0012 107.6);
  --destructive: oklch(0.3959 0.1331 25.7);
  --destructive-foreground: oklch(0.9845 0.0012 107.6);
  --ring: oklch(0.7889 0.1592 74.1);
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.theme-green,
.theme-green-scaled {
  --background: oklch(1 0.0001 274);
  --foreground: oklch(0.1405 0.0044 285.8);
  --muted: oklch(0.9676 0.0014 285.4);
  --muted-foreground: oklch(0.5519 0.0138 285.9);
  --popover: oklch(1 0.0001 274);
  --popover-foreground: oklch(0.1405 0.0044 285.8);
  --card: oklch(1 0.0001 274);
  --card-foreground: oklch(0.1405 0.0044 285.8);
  --border: oklch(0.9197 0.0042 286);
  --input: oklch(0.9197 0.0042 286);
  --primary: oklch(0.6273 0.17 149.2);
  --primary-foreground: oklch(0.9699 0.0149 12);
  --secondary: oklch(0.9676 0.0014 285.4);
  --secondary-foreground: oklch(0.2103 0.0059 285.8);
  --accent: oklch(0.9676 0.0014 285.4);
  --accent-foreground: oklch(0.2103 0.0059 285.8);
  --destructive: oklch(0.6368 0.2078 25.3);
  --destructive-foreground: oklch(0.9848 0.0001 274);
  --ring: oklch(0.6273 0.17 149.2);
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.dark .theme-green,
.dark .theme-green-scaled {
  --background: oklch(0.1467 0.0041 49.1);
  --foreground: oklch(0.9619 0.0001 274);
  --muted: oklch(0.2696 0 274);
  --muted-foreground: oklch(0.7119 0.0129 286);
  --popover: oklch(0.2044 0 274);
  --popover-foreground: oklch(0.9619 0.0001 274);
  --card: oklch(0.2161 0.0061 55.9);
  --card-foreground: oklch(0.9619 0.0001 274);
  --border: oklch(0.2741 0.0055 286);
  --input: oklch(0.2741 0.0055 286);
  --primary: oklch(0.7229 0.192 149.6);
  --primary-foreground: oklch(0.2664 0.0628 153);
  --secondary: oklch(0.2741 0.0055 286);
  --secondary-foreground: oklch(0.9848 0.0001 274);
  --accent: oklch(0.2685 0.0063 34);
  --accent-foreground: oklch(0.9848 0.0001 274);
  --destructive: oklch(0.3959 0.1331 25.7);
  --destructive-foreground: oklch(0.9699 0.0149 12);
  --ring: oklch(0.5271 0.1371 150.1);
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.theme-blue,
.theme-blue-scaled {
  --background: oklch(1 0.0001 274);
  --foreground: oklch(0.1371 0.036 258.5);
  --muted: oklch(0.9684 0.0069 248.3);
  --muted-foreground: oklch(0.5547 0.0408 257.5);
  --popover: oklch(1 0.0001 274);
  --popover-foreground: oklch(0.1371 0.036 258.5);
  --card: oklch(1 0.0001 274);
  --card-foreground: oklch(0.1371 0.036 258.5);
  --border: oklch(0.929 0.0127 255.7);
  --input: oklch(0.929 0.0127 255.7);
  --primary: oklch(0.546 0.2154 262.9);
  --primary-foreground: oklch(0.9838 0.0036 248.7);
  --secondary: oklch(0.9684 0.0069 248.3);
  --secondary-foreground: oklch(0.2079 0.0399 265.7);
  --accent: oklch(0.9684 0.0069 248.3);
  --accent-foreground: oklch(0.2079 0.0399 265.7);
  --destructive: oklch(0.6368 0.2078 25.3);
  --destructive-foreground: oklch(0.9838 0.0036 248.7);
  --ring: oklch(0.546 0.2154 262.9);
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.dark .theme-blue,
.dark .theme-blue-scaled {
  --background: oklch(0.1371 0.036 258.5);
  --foreground: oklch(0.9838 0.0036 248.7);
  --muted: oklch(0.28 0.037 260);
  --muted-foreground: oklch(0.7107 0.0352 256.8);
  --popover: oklch(0.1371 0.036 258.5);
  --popover-foreground: oklch(0.9838 0.0036 248.7);
  --card: oklch(0.1371 0.036 258.5);
  --card-foreground: oklch(0.9838 0.0036 248.7);
  --border: oklch(0.28 0.037 260);
  --input: oklch(0.28 0.037 260);
  --primary: oklch(0.6232 0.188 259.8);
  --primary-foreground: oklch(0.2079 0.0399 265.7);
  --secondary: oklch(0.28 0.037 260);
  --secondary-foreground: oklch(0.9838 0.0036 248.7);
  --accent: oklch(0.28 0.037 260);
  --accent-foreground: oklch(0.9838 0.0036 248.7);
  --destructive: oklch(0.3959 0.1331 25.7);
  --destructive-foreground: oklch(0.9838 0.0036 248.7);
  --ring: oklch(0.4878 0.2171 264.4);
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.theme-yellow,
.theme-yellow-scaled {
  --background: oklch(1 0.0001 274);
  --foreground: oklch(0.1467 0.0041 49.1);
  --muted: oklch(0.97 0.0012 107.6);
  --muted-foreground: oklch(0.5534 0.0116 57.9);
  --popover: oklch(1 0.0001 274);
  --popover-foreground: oklch(0.1467 0.0041 49.1);
  --card: oklch(1 0.0001 274);
  --card-foreground: oklch(0.1467 0.0041 49.1);
  --border: oklch(0.9232 0.0025 46.9);
  --input: oklch(0.9232 0.0025 46.9);
  --primary: oklch(0.8601 0.173 91.8);
  --primary-foreground: oklch(0.2854 0.0638 53.8);
  --secondary: oklch(0.97 0.0012 107.6);
  --secondary-foreground: oklch(0.2161 0.0061 55.9);
  --accent: oklch(0.97 0.0012 107.6);
  --accent-foreground: oklch(0.2161 0.0061 55.9);
  --destructive: oklch(0.6368 0.2078 25.3);
  --destructive-foreground: oklch(0.9845 0.0012 107.6);
  --ring: oklch(0.1467 0.0041 49.1);
  --radius: 0.95rem;
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.dark .theme-yellow,
.dark .theme-yellow-scaled {
  --background: oklch(0.1467 0.0041 49.1);
  --foreground: oklch(0.9845 0.0012 107.6);
  --muted: oklch(0.2685 0.0063 34);
  --muted-foreground: oklch(0.7159 0.0089 55.9);
  --popover: oklch(0.1467 0.0041 49.1);
  --popover-foreground: oklch(0.9845 0.0012 107.6);
  --card: oklch(0.1467 0.0041 49.1);
  --card-foreground: oklch(0.9845 0.0012 107.6);
  --border: oklch(0.2685 0.0063 34);
  --input: oklch(0.2685 0.0063 34);
  --primary: oklch(0.8601 0.173 91.8);
  --primary-foreground: oklch(0.2854 0.0638 53.8);
  --secondary: oklch(0.2685 0.0063 34);
  --secondary-foreground: oklch(0.9845 0.0012 107.6);
  --accent: oklch(0.2685 0.0063 34);
  --accent-foreground: oklch(0.9845 0.0012 107.6);
  --destructive: oklch(0.3959 0.1331 25.7);
  --destructive-foreground: oklch(0.9845 0.0012 107.6);
  --ring: oklch(0.5535 0.1205 66.5);
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.theme-violet,
.theme-violet-scaled {
  --background: oklch(1 0.0001 274);
  --foreground: oklch(0.1294 0.0273 261.7);
  --muted: oklch(0.9671 0.003 264.9);
  --muted-foreground: oklch(0.5512 0.0233 264.4);
  --popover: oklch(1 0.0001 274);
  --popover-foreground: oklch(0.1294 0.0273 261.7);
  --card: oklch(1 0.0001 274);
  --card-foreground: oklch(0.1294 0.0273 261.7);
  --border: oklch(0.9277 0.0059 264.7);
  --input: oklch(0.9277 0.0059 264.7);
  --primary: oklch(0.5409 0.247 293);
  --primary-foreground: oklch(0.9843 0.0018 249.4);
  --secondary: oklch(0.9671 0.003 264.9);
  --secondary-foreground: oklch(0.2103 0.0318 264.7);
  --accent: oklch(0.9671 0.003 264.9);
  --accent-foreground: oklch(0.2103 0.0318 264.7);
  --destructive: oklch(0.6368 0.2078 25.3);
  --destructive-foreground: oklch(0.9843 0.0018 249.4);
  --ring: oklch(0.5409 0.247 293);
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.dark .theme-violet,
.dark .theme-violet-scaled {
  --background: oklch(0.1294 0.0273 261.7);
  --foreground: oklch(0.9843 0.0018 249.4);
  --muted: oklch(0.2784 0.0297 256.9);
  --muted-foreground: oklch(0.7136 0.0192 261.4);
  --popover: oklch(0.1294 0.0273 261.7);
  --popover-foreground: oklch(0.9843 0.0018 249.4);
  --card: oklch(0.1294 0.0273 261.7);
  --card-foreground: oklch(0.9843 0.0018 249.4);
  --border: oklch(0.2784 0.0297 256.9);
  --input: oklch(0.2784 0.0297 256.9);
  --primary: oklch(0.4907 0.2414 292.6);
  --primary-foreground: oklch(0.9843 0.0018 249.4);
  --secondary: oklch(0.2784 0.0297 256.9);
  --secondary-foreground: oklch(0.9843 0.0018 249.4);
  --accent: oklch(0.2784 0.0297 256.9);
  --accent-foreground: oklch(0.9843 0.0018 249.4);
  --destructive: oklch(0.3959 0.1331 25.7);
  --destructive-foreground: oklch(0.9843 0.0018 249.4);
  --ring: oklch(0.4907 0.2414 292.6);
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.theme-mono,
.theme-mono-scaled {
  --font-sans: var(--font-mono);
  --primary: var(--color-neutral-600);
  --primary-foreground: var(--color-neutral-50);

  @variant dark {
    --primary: var(--color-neutral-500);
    --primary-foreground: var(--color-neutral-50);
  }

  .rounded-xs,
  .rounded-sm,
  .rounded-md,
  .rounded-lg,
  .rounded-xl {
    @apply !rounded-none;
    border-radius: 0;
  }

  .shadow-xs,
  .shadow-sm,
  .shadow-md,
  .shadow-lg,
  .shadow-xl {
    @apply !shadow-none;
  }

  [data-slot="toggle-group"],
  [data-slot="toggle-group-item"] {
    @apply !rounded-none !shadow-none;
  }
}
